 

.wrapper {
    width: 100%;
    height: 720px;
    background-color: brown;
    overflow: hidden;
}

.slides {
    width: 100%;
    height: 720px;
    object-fit: cover;
}

.dots {
    width: 31px;
    height: 31px;
    border: solid white 2px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: BreePeru;
    font-size: 18px;
}

.dots:hover{
    background-color: white;
    color: $pale-blue;
}

.dots__ul {
    margin: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.button__container {
    text-align: center;
    height: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 5px;
    position: relative;
    left: 10px;
    border-left: solid white 1px;
    padding-left: 6px;
}

.button {
    border: none;
    background-color: transparent;
    color: white;
}

.heading__wrapper {
    z-index: 9999;
    position: absolute;
}

.heading__inner_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.span {
    font-family: ClanOffc;
    font-size: 16px;
    font-weight: 500;
    color: white;
}

@include respond-to('xs') {
    .slides {
        height: 570px;
    }
}

@media only screen and (min-width: 1600px) {
    .slides {
        object-position: 0px -150px;
    }
}


