 

.wrapper {
    font-family: ClanOffc;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.14;
    letter-spacing: normal;
    color: $pale-green;
    cursor: pointer;
}

.wrapper_none {
    visibility: hidden;
}