 

.wrapper {
    width: 205px;
    height: 329px;
    box-shadow: 7px 8px 10px 0 rgba(51, 171, 160, 0.21);
    background-color: white;
    border-bottom-right-radius: 24px;
    padding: 5px 20px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5px 15px 0px 15px;
    margin: 0px 10px 50px 10px;
    transition: all 450ms ease-in-out;
}

.wrapper:hover {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.25), 0 15px 12px rgba(0, 0, 0, 0.1);
    transition: all 450ms ease-in-out;
}

.inner__wrapper {
    display: flex;
}

@include respond-to('xs') {
    .wrapper {
        opacity: 0.5;
    }
}