 

.day {
    color: $dark-grey;
    font-family: ClanOffc;
    font-weight: bold;
    font-size: 64px;
    margin: 0;
    line-height: 0.8;
}

.month {
    color: $dark-grey;
    font-family: ClanOffc;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}