 

.inner__wrapper {
    font-family: ClanOffc;
    font-weight: bold;
    color: $dark-grey;
}

.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
}

@include respond-to('xs') {
    .wrapper {
        margin-bottom: 20px;
    }
}