/* Global styles
========================================================================== */
::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
  border-radius: 15px;
}

::-webkit-scrollbar-track {
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: rgba(52, 171, 160, 0.8);
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeSpeed;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

img {
  width: auto;
  display: block;
}

.actividades-module__slider___3H6Zh .slick-list {
  border-radius: 12px;
}

div.slick-slide.slick-active.slick-current
  div
  div.wrapper-fest-module__wrapper___k_VpD {
  opacity: 1;
}
