/* Global variables
========================================================================== */
$white: #ffffff;
$black:#000000;
$dark-grey: #636363;
$grey: #adafaf;
$transparent-grey: rgba(0, 0, 0, 0.5);
$transparent-dark-grey: rgba(215, 215, 215, 0.5);
$dark-yellow: #f0b127;
$yellow: #fed118;
$pink: #990564;
$purple: #811063;
$dark-blue: #2b2b6f;
$sky-blue: #3ba8fc;
$blue: #0e70b9;
$pale-green: #33aba0;
$pale-blue: #1496a9;
$green: #84c131;
$red: #e13b3d;
$default-background: #f9f9f9;
$default-background-t: rgba(255, 255, 255, 0.8);