// Button Footer Subscribe
.wrapper_footer_subscribe {
  width: 196px;
  height: 45px;
  border-radius: 22.5px;
  background-color: $pink;
  border: solid 2px $pink;
  transition: all 200ms ease-in-out;
  color: white;
  font-family: ClanOffc;
  font-size: 16px;
}

.wrapper_footer_subscribe:hover {
  background-color: transparent;
  color: $pink;
  transition: all 200ms ease-in-out;
}

// Button Home Hero
.wrapper_home_hero {
  width: 180px;
  height: 48px;
  border-radius: 24px;
  background-color: $pink;
  font-family: ClanOffc;
  font-size: 18px;
  font-weight: 500;
  color: white;
  border: solid 2px $pink;
  transition: all 200ms ease-in-out;
  margin-top: 30px;
}

//Button Home Medidas
.wrapper_home_medidas {
  width: 224px;
  height: 53px;
  border-radius: 24px;
  background-color: $pale-green;
  border: solid 2px $pale-green;
  color: white;
  font-family: ClanOffc;
  font-size: 15px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto 0px auto;
  transition: all 200ms ease-in-out;
}

.wrapper_home_medidas:hover {
  background-color: transparent;
  transition: all 200ms ease-in-out;
}

//Button Home Medidas Card
.wrapper_home_medidas_card {
  width: 103px;
  height: 28.6px;
  border-radius: 23px;
  background-color: $red;
  font-family: ClanOffc;
  font-size: 10px;
  font-weight: 500;
  color: white;
}

//Button Single
.wrapper_single_yellow {
  width: 78px;
  height: 27px;
  border-radius: 13.5px;
  background-color: $yellow;
  font-family: ClanOffcNews;
  font-size: 12px;
  font-weight: normal;
  color: white;
  margin-right: 10px;
}
.wrapper_single_pink {
  width: 78px;
  height: 27px;
  border-radius: 13.5px;
  background-color: $pink;
  font-family: ClanOffcNews;
  font-size: 12px;
  font-weight: normal;
  color: white;
  margin-right: 10px;
}
