.button {
    color: #bcbbbb;
    background-color: transparent;
    width: 29px;
    height: 29px;
    border: 1px solid #bcbbbb;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
  }
  
  .icon {
    font-size: 13px;
  }