.wrapper {
  height: 21px;
  border-radius: 2px;
  text-align: center;
  background-color: #990564;
  color: white;
  font-family: ClanOffc;
  font-size: 9px;
  font-weight: 500;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 15px;
  left: 15px;
  padding: 0px 10px;
}
