 

.form:focus-within {
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -webkit-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    transform: translateY(-1px);
}

.input:placeholder-shown+.button:not(:focus) {
    opacity: .5;
    pointer-events: none;
}

.form {
    border-radius: 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.button {
    border-style: none;
    border-width: 0;
    padding: 14px 6px 16px 6px;
    text-align: center;
    float: left;
    _display: inline;
    width: 100%;
    color: white;
    background-color: $pink;
    border-color: $pink;
    border-radius: 6px;
    font-family: ClanOffc;
    width: 25%;
    height: 46px;
    font-size: 16px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.button:focus,
.button:hover {
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(180, 43, 172, .25);
    box-shadow: 0 0 0 0.2rem rgba(180, 43, 172, .25);
    color: white;
    text-decoration: none;
}

.button:hover {
    cursor: pointer
}

.input {
    border-style: none;
    border-width: 0;
    float: left;
    _display: inline;
    line-height: 1;
    background-color: #fff;
    padding: 1rem;
    font-size: .875rem;
    height: calc(1.5em + .75rem + 10px) !important;
    font-family: ClanOffcNews;
    border-radius: 6px;
    width: 75%;
    font-size: 16px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input::-webkit-input-placeholder {
    color: $grey;
}

.input::-moz-placeholder {
    color: $grey;
}

.input:-ms-input-placeholder {
    color: $grey;
}

.input::-ms-input-placeholder {
    color: $grey;
}

.input::placeholder {
    color: $grey;
}

@include respond-to('xs') {
    .button {
        padding-top: 17px;
        font-size: 12px;
        width: 40%;
    }
}

@include respond-to('lg') {
    .form {
        margin-top: 20px;
    }
}