.pagination {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link {
  display: flex;
}
.left {
  text-align: left;
  display: flex;
  cursor: pointer;
  max-width: 50%;
}
.right {
  text-align: right;
  display: flex;
  cursor: pointer;
  max-width: 50%;
}
.pag_title {
  font-family: ClanOffc;
  font-size: 12px;
  font-weight: 500;
  color: #8c8c8c;
}
.pag_subtitle {
  font-family: ClanOffc;
  font-size: 9px;
  font-weight: 500;
  color: #d5d4d4;
  margin-top: 5px;
}
.arrow_left,
.arrow_right {
  width: 22px;
  height: 22px;
  border-radius: 30px;
  box-shadow: 0 0 15px 1px rgba(219, 219, 219, 1);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $pink;
  font-size: 12px;
  transition: all ease-in-out 200ms;
}
.arrow_left:hover,
.arrow_right:hover{
  box-shadow: 0 0 15px 5px rgba(219, 219, 219, 1);
  transition: all ease-in-out 200ms;
}
.arrow_left {
  margin-right: 8px;
}
.arrow_right {
  margin-left: 8px;
}
@include respond-to("xs") {
  .pag_title {
    font-size: 10px;
  }
}
