.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 140px;
  flex-wrap: wrap;
}
.img {
  object-fit: cover;
  object-position: center;
  height: 197px;
  border-radius: 4px;
  overflow: auto;
  margin: auto;
  max-width: 697px;
  width: 100%;
}
.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.title {
  font-family: BreePeru;
  font-size: 30px;
  font-weight: bold;
  color: $dark-grey;
  margin-top: 25px;
  max-width: 697px;
  line-height: 1.2;
}
.date {
  font-family: ClanOffcNews;
  font-size: 16px;
  font-weight: normal;
  color: #bcbbbb;
  margin-top: 5px;
  margin-bottom: 40px;
}
.text {
  max-width: 697px;
  margin-bottom: 20px;
  text-align: justify;
  font-family: ClanOffcBook;
  font-size: 14px;
  font-weight: normal;
  color: $dark-grey;
  line-height: 1.3;
}
.tags {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hr {
  border: none;
  border-bottom: solid 1px #ededed;
  margin: 15px 0px 0px 0px;
}
.subtitle {
  font-family: ClanOffc;
  font-size: 14px;
  font-weight: bold;
  color: $dark-grey;
  margin: 20px 0px 20px 0px;
}
@include respond-to("xs"){
  .text{
    font-size: 12px;
  }
}
