.wrapper_medidas_sm {
  width: 220px;
  height: 339px;
  border-radius: 8px;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.5);
  background-color: white;
  overflow: hidden;
  margin: 20px 10px 0px 10px;
}

.head_medidas_sm {
  height: 129px;
  position: relative;
}

.content_medidas_sm {
  height: 210px;
  padding: 24px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img_medidas {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
  transition: width 300ms ease-in-out;
}

.img_medidas:hover {
  width: 115%;
  transition: width 300ms ease-in-out;
}

.title_medidas {
  font-family: ClanOffc;
  font-size: 13px;
  font-weight: bold;
  color: $dark-grey;
  line-height: 1.3;
}

.date_medidas {
  font-family: ClanOffcNews;
  font-size: 10px;
  font-weight: normal;
  color: #bcbbbb;
  margin-top: 7.5px;
}

.description_medidas {
  font-family: ClanOffcNews;
  font-size: 10px;
  font-weight: normal;
  color: $dark-grey;
  margin-top: 15px;
  line-height: 1.3;
}

.footer_medidas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.button_medidas {
  color: #bcbbbb;
  background-color: transparent;
  width: 29px;
  height: 29px;
  border: 1px solid #bcbbbb;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.icon_medidas {
  font-size: 13px;
}

.wrapper_medidas_lg {
  width: 459px;
  height: 339px;
  border-radius: 8px;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.5);
  background-color: white;
  overflow: hidden;
  margin: 20px 10px 0px 10px;
}

.head_medidas_lg {
  height: 170px;
  position: relative;
}

.content_medidas_lg {
  height: 169px;
  padding: 24px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper_notas_sm {
  width: 273px;
  height: 267px;
  border-radius: 5px;
  overflow: hidden;
  margin: 20px 10px 0px 10px;
  position: relative;
}

.wrapper_notas_lg {
  width: 566px;
  height: 267px;
  border-radius: 5px;
  overflow: hidden;
  margin: 20px 10px 0px 10px;
  position: relative;
}

.title_notas_sm {
  font-family: ClanOffc;
  font-size: 15px;
  font-weight: bold;
  color: white;
  line-height: 1.2;
}

.title_notas_lg {
  font-family: ClanOffc;
  font-size: 15px;
  font-weight: bold;
  color: white;
  width: 69%;
  line-height: 1.2;
}

.title_notas_lg_anchor{
  font-family: ClanOffc;
  font-size: 30px;
  font-weight: bold;
  color: white;
  width: 69%;
  line-height: 1.2;
}

.content_notas {
  padding: 15px 20px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  box-shadow: inset 0px 1000px 1000px rgba(0, 0, 0, 0.2);
  transition: box-shadow 300ms ease-in-out;
}

.content_notas:hover {
  box-shadow: inset 0px 1000px 1000px rgba(0, 0, 0, 0.7);
  transition: box-shadow 300ms ease-in-out;
}
@include respond-to("md") {
  .wrapper_notas_lg {
    height: 267px;
    width: auto;
  }
  .wrapper_notas_sm {
    height: 267px;
    width: auto;
  }
  .wrapper_notas_sm,
  .wrapper_notas_lg {
    margin: 20px 5px 0px 5px;
  }
  .title_notas_sm {
    font-size: 15px;
  }
}
@media (max-width: 953px) and (min-width: 477px) {
  .wrapper_notas {
    margin: auto;
  }
}
@include respond-to("xs") {
  .wrapper_medidas_lg,
  .wrapper_medidas_sm {
    width: 290px;
    height: 286px;
  }
  .head_medidas_lg,
  .head_medidas_sm {
    height: 143px;
    position: relative;
  }
  .content_medidas_lg,
  .content_medidas_sm {
    height: 143px;
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .title_medidas {
    font-size: 11px;
  }
  .title_notas_lg_anchor{
    font-size: 22px;
  }
}
