.wrapper {
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
  height: 0px;
  position: fixed;
  z-index: 9;
  width: 90%;
  max-width: 1096px;
  top: 40px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
