.wrapper {
  width: 214px;
  max-height: 605px;
  height: 60%;
  border-radius: 5px;
  box-shadow: 0 0 8px 0 rgba(219, 219, 219, 0.5);
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 25px;
  position: sticky;
  top: 140px;
}
.content {
  margin-top: 15px;
}
.note {
  margin-bottom: 18px;
}

.heading {
  font-family: BreePeru;
  font-size: 16px;
  font-weight: bold;
  color: $pink;
  margin-bottom: 22px;
}

.title {
  font-family: ClanOffc;
  font-size: 12px;
  font-weight: 500;
  color: $dark-grey;
}

.date {
  font-family: ClanOffcNews;
  font-size: 10px;
  font-weight: normal;
  color: #bcbbbb;
  margin-top: 10px;
}

.hr {
  border: none;
  border-bottom: solid 1px #ededed;
  margin: 15px 0px 0px 0px;
}

@include respond-to("lg") {
  .wrapper {
    margin-right: 0px;
    margin-left: 25px;
    order: 1;
    margin-top: 60px;
  }
}
@include respond-to("xs") {
  .wrapper {
    width: 100%;
    margin: 60px auto 0px auto;
  }
}
