.wrapper {
  background-color: $default-background;
}
.content_container{
  display: flex;
  align-items: center;
  height: 302px;
  padding: 40px 0px 25px 0px;
}
.content{
  height: 100%;
  width: 100%;
}
.title {
  font-family: ClanOffc;
  font-size: 14px;
  font-weight: bold;
  color: $dark-grey;
}
.li {
  font-family: ClanOffc;
  font-size: 12px;
  letter-spacing: 0.3px;
  color: $transparent-grey;
}
.ul {
  margin-top: 25px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  height: 70%;
}
