@font-face{
    font-family: "ClanOffcBook";
    src: url("../src/assets/fonts/ClanOffc-Book.ttf");
}
@font-face {
    font-family: 'ClanOffc';
    src: url('../src/assets/fonts/ClanOffc-Medium.ttf');
    font-display: swap;
}
@font-face {
    font-family: 'BreePeruLight';
    src: url('../src/assets/fonts/BreePeru_Light.otf');
    font-display: swap;
}

@font-face {
    font-family: 'BreePeru';
    src: url('../src/assets/fonts/BreePeru_Regular.otf');
    font-display: swap;
}

@font-face {
    font-family: 'ClanOffcBold';
    src: url('../src/assets/fonts/ClanOffc-Bold.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'ClanOffcNews';
    src: url('../src/assets/fonts/ClanOffc-News.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'ClanOffcLight';
    src: url('../src/assets/fonts/ClanOffc-Thin.ttf');
    font-display: swap;
}
