.wrapper {
  color: $dark-grey;
  max-width: 697px;
  text-align: justify;
  font-family: ClanOffcBook;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.3;
}
.wrapper h2 {
  font-family: ClanOffc;
  line-height: 1.3;
}
.wrapper p {
  margin: 1em 0;
  line-height: 1.35;
}
.wrapper em {
  font-style: italic;
}
.wrapper small {
  font-size: smaller;
}
.wrapper strong {
  font-weight: bolder;
}
.wrapper a {
  color: $sky-blue;
  text-decoration: underline;
}
